<div id="chatbot">
  <div class="chatbot-header">
    <h3>Chatbot</h3>
  </div>
  <div class="chatbot-window">
    <div class="message-list">   
    </div>
    <div class="input-component">
      <input type="text" id="chatbot-input" placeholder="Type a message..." />
      <button id="chatbot-send">Send</button>
    </div>
  </div>
</div>

<script src="{{ 'chatbot.js' | asset_url }}" defer></script>
<link rel="stylesheet" href="{{ 'chatbot.css' | asset_url }}">
