.colorButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
    border: none;
  }
  
  .selected {
    border: 2px solid black;
  }
  
 .hovered {
    border: 2px solid gray;
  }
  
  .buttonsContainer {
    margin-top: 20px;
  }
  
  .saveButton {
    margin-right: 10px;
  }