@use '../../../styles/colors.scss' as *;

.custom-email-input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid $gray-300;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 8px;
  outline: none;
  transition: border-color 0.2s;

  &.has-error {
    border-color: var(--theme-primary-color, #{$red-500});
    box-shadow: none;
  }

  &:focus {
    border-color: var(--theme-primary-color, #{$orange-450});
    box-shadow: none;
  }

  &:focus.has-error {
    border-color: var(--theme-primary-color, #{$red-500});
    box-shadow: none;
  }
}