@use '../../../styles/colors.scss' as *;

.chatbot-tags-container.agent-side {
  display: flex;
  justify-content: flex-start;
  margin-left: 12px;
}

.chatbot-tags.horizontal-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 8px;
}

.chatbot-tag-button.premium-tag {
  padding: 6px 10px;
  border: 2px solid var(--theme-primary-color);
  background-color: transparent;
  color: var(--theme-primary-color);
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;

  outline: none;
  box-shadow: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    background-color: var(--theme-primary-color);
    color: white;
  }
}