fastapi>=0.68.0
uvicorn>=0.15.0
psycopg2-binary>=2.9.3
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
transformers
sentence-transformers
pinecone
supabase
requests
numpy
langfuse
FlagEmbedding
sql
sqlalchemy